%div.row.about
  %h1 ABOUT
  %h3 Travelogue connects women looking to explore.

%div.about-section
  .about-information
    .row.about-one
      .col-md-4.about_photo
        %img{:src => asset_path("hana.jpg"), :class => "img-rounded hana"}
      .col-md-8.about-info
        %h2 Hana Hrz
        %h3 Founder & CEO
        %ul.links.list-unstyled
          %li
            = mail_to 'hana@travelogue.com' do
              %icons.fa.fa-envelope-o
              Email
          %li
            = link_to 'https://www.instagram.com/hanahrz/' do
              %icons.fa.fa-instagram
              Instagram
        %p Hana's as zesty and spunky as the cities she's lived in: Shanghai, Berlin, Paris and Madrid. From organizing tech conferences to building communities, Hana is all about bringing people together. What's her end goal you may ask?
        %p Seeing more women hit the road and gaining more confidence while doing so.
        %p She spends all her money on travel, wine, cheese and baguettes.Lots and lots of baguettes.
        And voiláá, you have kind of, sort of met Hana.


    .row.about-two
      .col-md-4.about_photo
        %img{:src => asset_path("erinn.jpg"), :class => "img-rounded erinn"}
      .col-md-8.about-info
        %h2 Erinn Springer
        %h3 Web Dev & Writer
        %ul.links.list-unstyled
          %li
            = mail_to 'erinnlspringer@gmail.com' do
              %icons.fa.fa-envelope-o
              Email
          %li
            = link_to 'https://www.instagram.com/erinnlspringer/' do
              %icons.fa.fa-instagram
              Instagram
        %p About six years ago, Erinn quit her job, learned how to code and got a remote gig. While it's not clear which of these was the gateway drug to living out of a bag, soon Erinn became a digital nomad. After some time she's traveled a bit and lives in Berlin.
        %p Expect a mix of fun, sass and ambivert-ness from her. She doesn't believe in putting down roots or doing things in heels, but won't judge you for doing the same.


